*{
	box-sizing: border-box;
}
#header{
text-align: center;
}

div{
	border: 1px solid;
	margin-top: 0;
	text-align: center;

}
#head1,
#head2,
#head3,
#head4{
	font-size: 50px;
	float: left;
	width: 25%;
	height: 71px;
	background: white;
    -webkit-transition: background 1s;
    transition: background 1s;
	}
#head1:hover,
#head2:hover,
#head3:hover,
#head4:hover{
background-color: red;
	}	

#content{
	margin-top: 10px;
	float: left;
	width: 100%;
	background-color: red;
	padding: 5px;
}
.contentdivs{
	margin: 5px;
	
}
#headerlinks{
	background-color: white;
	width: 15%;
	height: 20px;
	float: left;
}

#headermain{
	background-color: white;
	width: 57%;
	height: 20px;
	float: left;

}
#headeraside{
	background-color: white;
	width: 25.5%;
	height: 20px;
	float: left;
}

#links{
	background-color: white;
	width: 15%;
	height: 500px;
	float: left;
	text-align: left;
}
#main{
	background-color: white;
	width: 57%;
	height: 500px;
	float: left;
	text-align: left;
}
#aside{
	background-color: white;
	width: 25.5%;
	height: 500px;	
	float: left;
}
.contentdivs img{
	padding-top: 20px;
}
#main img{
	padding-right: 20px;
}
#main p{
	padding-left: 20px;
	padding-right: 20px;
}



